.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.breadcrumb {
    color: rgba(0, 0, 0, 0.45);
    transition: color 0.2s;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    margin-inline: calc(4px * -1);
    cursor: pointer;
}

.breadcrumb:last-child {
    color: rgba(0, 0, 0, 0.88);
    pointer-events: none;
    cursor: not-allowed;
}

.breadcrumb:not(:last-child):hover {
    color: rgba(0, 0, 0, 0.88);
    background-color: rgba(0, 0, 0, 0.06);
}

.separator {
    margin-inline: 8px;
    color: rgba(0, 0, 0, 0.45);
}
