:host {
    --border: rgb(201, 201, 201);
    --bg: rgb(250, 250, 250);
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.height {
    height: 45vh;
}

.height-fields {
    height: calc(45vh - 50px);
}

.border {
    border-width: 2px;
    border-color: var(--border);
}

.bg-secondary {
    background-color: var(--bg);
}

.scrollable_y {
    overflow-y: scroll;
    overscroll-behavior: none;
}